.drawer__container {
  z-index: 999;
  position: fixed;
  inset: 0;
}

.drawer__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.drawer__content {
  position: fixed;
  z-index: 2;
  padding: 3vmin;
  background: #fff;
  transition: transform 300ms ease-in;
}

.left,
.right {
  overflow-y: auto;
  width: 60vw;
  max-width: 400px;
  top: 0;
  bottom: 0;
}

.left {
  left: 0;
  right: auto;
  transform: translate(-100%, 0);
}

.right {
  right: 0;
  left: auto;
  transform: translate(100%, 0);
}

.top,
.bottom {
  overflow-x: auto;
  left: 0;
  right: 0;
  height: 30vh;
  min-height: 200px;
}

.top {
  top: 0;
  bottom: auto;
  transform: translate(0, -100%);
}

.bottom {
  bottom: 0;
  top: auto;
  transform: translate(0, 100%);
}

.drawer__content.open.slide {
  transform: translate(0, 0);
}
